@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

$clr-theme:#2183D6;
$clr-gray: #bbbbbb;
$clr-default:#888888;
$clr-blue:#6C63FF;
$clr-orange:#F58220;
$clr-dark: #444444;
$clr-white:#ffffff;
$clr-red:#ff0000;
$clr-maroon:#AE2B30;
$clr-base: #6F6D5E;
$clr-darkblue:#094B7F;
$clr-lightgrey:#cccccc;


/* font weight */

$font-regular:400;
$font-bold:700;
$font-black:900;

$fnt1:'Lato', sans-serif;

/* breakpoints */
$sm-device-breakpoint: 767px;
$mobile-breakpoint: 768px;
$tablet-breakpoint:992px;
$desktop-breakpoint:1024px;
