
body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: $clr-default;
    padding-top: 80px;
}

i-calc {

    .rupee-container{
        position: relative;
        width: 160px;
        margin:0 auto 1rem;
        &:after{
            position: absolute;
            top:11px;
            left: 26%;
            content: "\20B9";
            font-size: 16px;
            line-height:16px;
            color: #444;
        }
    }

    a {
        transition: 0.2s;
        transition: all 0.2s ease;
        color: $clr-theme;
        &:hover {
            text-decoration: none;
        }
    }
    
    img {
        max-width: 100%;
    }
    
    video {
        width: 100%;
        display: block;
    }
    
    .cm-not-in-page {
        left: -99999px;
        position: absolute;
        top: -99999px;
    }
    
    .cm-dot {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .cm-fullBox{
        width:100%;
        display:flex;   
        justify-content:space-between;
        .full-element{
            flex:1;
        }
    }
    
    .clr-txt{
        color: $clr-orange;
    }

    .clr-orange{
        color:$clr-orange!important;
    }
    
    .cm-gradient{
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#d1474e+0,de7b40+45,de7b40+45,de7b40+46,f58220+100 */
        background: rgb(209,71,78); /* Old browsers */
        background: -moz-linear-gradient(left, rgba(209,71,78,1) 0%, rgba(222,123,64,1) 45%, rgba(222,123,64,1) 45%, rgba(222,123,64,1) 46%, rgba(245,130,32,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, rgba(209,71,78,1) 0%,rgba(222,123,64,1) 45%,rgba(222,123,64,1) 45%,rgba(222,123,64,1) 46%,rgba(245,130,32,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, rgba(209,71,78,1) 0%,rgba(222,123,64,1) 45%,rgba(222,123,64,1) 45%,rgba(222,123,64,1) 46%,rgba(245,130,32,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        border-radius: 5px;
    }
    
    .bg-gray{
        background-color: #F5F5F5;
    }
    .bg-white{
        background-color: $clr-white;
    }
    
    .has-error{
        .error-label{
            font-size:12px;
            line-height:12px;
            color:$clr-red;
        }
    }
    
    .blue-link{
        text-decoration:underline;
        color:$clr-theme;
        &:hover,&:focus{
            text-decoration:underline;
            color:$clr-theme;
        }
    }

    .maroon-link{
        text-decoration:underline;
        color:$clr-maroon;
        &:hover,&:focus{
            text-decoration:underline;
            color:$clr-maroon;
        }
    }
    
    .cm-mT10{
        margin-top:10px;
    }    
    .cm-mT30{
        margin-top:30px;
    }
    .has-error{
        .error-label{
            font-size:12px;
            line-height:12px;
            color:$clr-red;
        }
    }
    
    .p-0{
        padding: 0;
    }
    .cm-mL5{
        margin-Left:5px;
    }

    .video-play-button {
        position: absolute;
        z-index: 10;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        box-sizing: content-box;
        display: block;
        width: 32px;
        height: 44px;
        /* background: #fa183d; */
        border-radius: 50%;
        padding: 18px 20px 18px 28px;
      }
      
      .video-play-button:before {
        content: "";
        position: absolute;
        z-index: 0;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        display: block;
        width: 80px;
        height: 80px;
        background: #ba1f24;
        border-radius: 50%;
        animation: pulse-border 1500ms ease-out infinite;
      }
      
      .video-play-button:after {
        content: "";
        position: absolute;
        z-index: 1;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        display: block;
        width: 80px;
        height: 80px;
        background: #fa183d;
        border-radius: 50%;
        transition: all 200ms;
      }
      
      .video-play-button:hover:after {
        background-color: darken(#fa183d, 10%);
      }
      
      .video-play-button img {
        position: relative;
        z-index: 3;
        max-width: 100%;
        width: auto;
        height: auto;
      }
      
      .video-play-button span {
        display: block;
        position: relative;
        z-index: 3;
        width: 0;
        height: 0;
        border-left: 32px solid #fff;
          border-top: 22px solid transparent;
          border-bottom: 22px solid transparent;
      }
      
      @keyframes pulse-border {
        0% {
          transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
          opacity: 1;
        }
        100% {
          transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
          opacity: 0;
        }
      }
      
      
      
      .video-overlay {
        position: fixed;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0,0,0,0.80);
        opacity: 0;
        transition: all ease 500ms;
      }
      
      .video-overlay.open {
        position: fixed;
        z-index: 1000;
        opacity: 1;
      }
      
      .video-overlay-close {
        position: absolute;
        z-index: 1000;
        top: 15px;
        right: 20px;
        font-size: 36px;
        line-height: 1;
        font-weight: 400;
        color: #fff;
        text-decoration: none;
        cursor: pointer;
        transition: all 200ms;
      }
      
      .video-overlay-close:hover {
        color: #fa183d;
      }
      
      .video-overlay iframe {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        /* width: 90%; */
        /* height: auto; */
        box-shadow: 0 0 15px rgba(0,0,0,0.75);
      }
      .accrdn-cards{
          display: none;
          transition: all 0.3s linear;
      }

      .bootstrap-datetimepicker-widget table td.active, 
        .bootstrap-datetimepicker-widget table td.active:hover{
            background-color:$clr-orange!important;
        }

        .bootstrap-datetimepicker-widget button[data-action]{
            background-color:$clr-orange;
            border-color:$clr-orange;
        }



        .slide {
            overflow-y: hidden;
            max-height: 500px; /* approximate max height */

            transition-property: all;
            transition-duration: .5s;
            transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
        }


        .plan-detls{
            padding: 0;
        }

        .sticky-div{
            position: fixed;
            width: 348px;
            transition: all 0.2s ease-in-out;
        }

        .bootstrap-datetimepicker-widget{
            z-index:999999;
        }
}
.plans i-calc .bs-header .navbar .navbar-collapse .navbar-nav .nav-item,
        .plan-detls i-calc .bs-header .navbar .navbar-collapse .navbar-nav .nav-item{
            &:nth-child(1),&:nth-child(2){display:none;}
        }

        .grow-your-wealth-content{
            visibility: visible;
            opacity: 1;
            &.hide{
                opacity: 0;
                transition: visibility 0s, opacity .5s ease-out;
                height:0;
            }
        }



@media screen and (max-width: $mobile-breakpoint) {
    .plan-detls{
        padding-bottom: 200px;
    }
    
i-calc {
    .sticky-div{
        position: relative;
        width: 100%;
    }
}
}

@media screen and (max-width: $sm-device-breakpoint) {
    .m-left-ryt{
        margin-left: -15px;
        margin-right: -15px;
    }
}