i-calc {
.bs-form{
    .form-group{
        .form-control{
            border: 1px solid #CCCCCC;
            border-radius: 5px;
            outline: none;
            box-shadow: none;
            &:focus{
                box-shadow: none!important;
            }
        }
        ::placeholder {
            color:  rgba(153, 153, 153, 0.7);
            font-size: 13px;
            font-weight: 400;
          }
          :-ms-input-placeholder {
            color:  rgba(153, 153, 153, 0.7);
            font-size: 13px;
            font-weight: 400;
        }
        ::-webkit-input-placeholder {
            color:  rgba(153, 153, 153, 0.7);
            font-size: 13px;
            font-weight: 400;
          }
          .field-right-label{
            position: absolute;
            right: 24px;
            top: 36px;
        }
          &.has-error{
            .form-control{
                border: 1px solid red; 
            }
          }
    }
    &.schedule-call{
        .form-group{
            position: relative;
            i{
                position: absolute;
                top: 10px;
                font-size: 16px;
                left: 15px;
            }
            .form-control{
                padding-left: 45px;
            }
        }
    }
    &.typ-custmr-dtls{
        padding: 0 15px;
        .form-group{
            margin-bottom: 20px;
            ::placeholder {
                color:  rgba(153, 153, 153, 0.7);
                font-size: 13px;
                font-weight: 400;
              }
        }
        h3{
            font-size: 16px;
            font-weight: 700;
            color: $clr-dark;
            margin-bottom: 20px;
        }
        label{
            font-size: 14px;
            font-weight: 400;
            color: $clr-dark;
        }
        .gender-check{
            margin-bottom: 20px;
        }
        .radio-toolbar input[type=radio] {
            display: none;
        }
        .radio-toolbar input[type=radio]:checked+label {
            background-color: transparent;
            color: #3b3b3b;
            border: 1px solid $clr-orange;
            font-weight: 700;
            animation: none;
            .checkmark{
                position: absolute;
                width: 12px;
                height: 12px;
                //   width: 14px;
                // height: 14px;
                background-color: #F58220;
                border-radius: 50%;
                // left: 10px;
                left: 14px;
                top: 14px;
                &::after{
                    content: "";
                    position: absolute;
                    display: block;
                    left: 5px;
                    top: 2px;
                    // left: 6px;
                    // top: 3px;
                    width: 3px;
                    height: 7px;
                    border: solid white;
                    border-width: 0 1px 1px 0;
                    -webkit-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    transform: rotate(45deg);
                }
            }
        }
        .radio-toolbar label {
            position: relative;
            display: inline-block;
            padding: 3px 0;
            font-size: 14px;
            cursor: pointer;
            border: 1px solid #CCCCCC;
            border-radius: 5px;
            color: #999999;
            // min-width: 100px;
            text-align: center;
            margin-bottom: 0;
            font-weight: 400;
            animation: none;
            .checkmark{
                position: absolute;
                width: 12px;
                height: 12px;
                //  width: 14px;
                // height: 14px;
                background-color: #CCCCCC;
                border-radius: 50%;
                // left: 10px;
                left: 14px;
                top: 14px;
                border: none;
            }
            &:last-child{
                margin-right: 0!important;
            }
            &.transgender-select{
                .checkmark{
                    left: 6px;
                }
               
            }
        }
        input[type=radio]:checked+label.transgender-select .checkmark{
            left: 6px;
        }
        .radio-toolbar label 
        .gender-check.radio-toolbar{
           
            .full-width
            {
                input[type=radio]:checked+label .checkmark{
                    //left:40%;
                    left:20%;
                }
                label {
                    width:100%;
                    .checkmark{
                        left: 145px;
                    }
                }    
            }
            label {
                // width: 105px!important;
                &.grandchild{
                    // min-width: 140px;
                    padding-left:15px;
                }
            }
        } 
        .gender-check.radio-toolbar label:not(:last-child) {
            margin-right:8px;
        }        
        .bs-btn{
            display: flex;
            align-items: center;
            justify-content: center;
            &:hover,&:focus{
                box-shadow:0 3px 6px rgba(211, 111, 26, 0.18)!important;
            }
            i{
                margin-left: 10px;
                -webkit-animation: arrow-jump 1s infinite; /* Safari 4+ */
                -moz-animation:    arrow-jump 1s infinite; /* Fx 5+ */
                -o-animation:      arrow-jump 1s infinite; /* Opera 12+ */
                animation:         arrow-jump 1s infinite; /* IE 10+, Fx 29+ */
            }
        }
        &.typ-pln-dtl-accrdn{
            padding: 0;
            .gender-check.radio-toolbar label{
                width: 116px!important;
            }
        }
        .check-bx-sec{
            .new{
                display: flex;
                .submit-check-box label:before{
                    width:18px;
                    height:18px;
                    border-radius: 0;
                    border: 1px solid $clr-orange!important;
                    border-radius: 3px;
                }
                .form-group input:checked+label:after {
                    border:1px solid #f58220!important;
                    border-width: 0 2px 2px 0!important;
                    top: 5px;
                    left: 6px;
                    height: 11px;
                    // width: 6px;
                    // height: 11px;
                }
                span{
                    margin-left: 28px;
                    display: inline-block;
                    margin-top: -22px;
                    font-size: 12px;
                }
                .form-group{
                    margin-bottom: 8px;
                }
            }
            p{
                margin-top: 0;
                font-size: 12px;
            }
        }
    }
}
}
@supports (-ms-ime-align:auto) {
    i-calc .bs-form.typ-custmr-dtls{
        padding: 0 34px;
    }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    i-calc .bs-form.typ-custmr-dtls{
        padding: 0 34px;
    }
}
@media screen and (max-width: $desktop-breakpoint) {
    i-calc {
    .bs-form{
        &.typ-custmr-dtls {
            padding: 0 22px;
            .gender-check.radio-toolbar label {
                width: 90px!important;
            }
            .radio-toolbar label .checkmark{
                left: 5px;
            }
            .radio-toolbar input[type=radio]:checked+label .checkmark{
                left: 5px;
            }
            .gender-check.radio-toolbar label:not(:last-child) {
                margin-right: 8px;
            }   
        }
    }
}
}

@media screen and (max-width: $mobile-breakpoint) {
    i-calc {
    .bs-form{
        &.typ-custmr-dtls {
            padding: 0;
            .gender-check.radio-toolbar label {
                // min-width: 86px;
                width: 90px!important;
                &.transgender-select{
                    width: 120px!important;
                }

            }
            .gender-check.radio-toolbar label.grandchild {
                min-width: auto;
                font-size: 12px;
                .checkmark{
                    top: 6px;
                }
            }
            .radio-toolbar input[type=radio]:checked+label.grandchild .checkmark{
                // top: 6px;
                top:11px;
            }
            .radio-toolbar label .checkmark{
                left: 5px;
            }
            .radio-toolbar input[type=radio]:checked+label .checkmark{
                left: 5px;
            }
            .gender-check.radio-toolbar label:not(:last-child) {
                margin-right: 8px;
            }   
        }
    }
}
}
@media screen and (max-width: $sm-device-breakpoint) {
    i-calc {
        .bs-form{
            &.typ-custmr-dtls {
                padding: 0;
                .gender-check.radio-toolbar label {
                    // width: 95px!important;
                    width: 86px!important;
                }
                &.typ-pln-dtl-accrdn{
                    .gender-check.radio-toolbar label{
                        width: 90px!important;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 320px) {
    i-calc {
    .bs-form{
        &.typ-custmr-dtls {
            .gender-check.radio-toolbar label {
                width: 85px!important;
                margin-right: 4px!important;
                &:last-child{
                    margin-right: 0!important;
                }
            }
            .gender-check.radio-toolbar label{
                padding-left:7px;
                min-width: 80px;
                &:not(:last-child) {
                    margin-bottom: 10px;
                    margin-right:5px;
                 
                }
            }
            .gender-check.radio-toolbar label.grandchild {
                .checkmark{
                    top: 12px;
                    left: 3px;
                }
            }
            .radio-toolbar input[type=radio]:checked+label.grandchild .checkmark{
                top: 12px;
                left: 3px;
            }
        }
    }
}
}

@-webkit-keyframes arrow-jump {
    0%   { opacity: 1;}
    50% { opacity: 1; 
          -webkit-transform: translateX(10px);
          -moz-transform: translateX(10px);
          -o-transform: translateX(10px);
          transform: translateX(10px);
      }
  }