i-calc {
.bs-icn-txt{
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 30px;
        margin: 25px 0;
        .icn-with-txt{
            // min-width: 58px;
            // background-color: rgba(255, 255, 255, 0.6);
            // border-radius: 50%;
            position: relative;
            display: flex;
            .icn{
                font-size: 36px;
                color: #444444;
                position: relative;
                border-radius: 50%;
                min-width: 58px;
                background-color: rgba(255,255,255,0.6);
                i{
                    position: absolute;
                    top: 10px;
                    left: 10px;
                }
            }
            &.typ-bg-clr{
                .icn{
                    background-color: transparent;
                    min-width: 58px;
                    max-height: 58px;
                }
                .txt{
                    p{
                        color: #888888;
                    }
                }
            }
        }
        .txt{
            margin:5px 0 5px 12px;
            p{
                font-size: 16px;
                color: $clr-white;
                margin: 0;
            }
        }
    &.saving{
        margin: 0;
        background-color: transparent;
        border-radius: 0;
        .icn-with-txt{
            .icn{
                max-height: 58px;
                font-size: 40px;
                color: $clr-white;
                i{
                    top: 8px;
                    left: 10px;
                }
            }
            .txt{
                margin: 20px 0 0 20px;
                p{
                    line-height: 1;
                    margin-bottom: 7px;
                    color: $clr-dark;
                    font-weight: 900;
                    &:last-child{
                        font-size: 14px;
                        color: $clr-default;
                        font-weight: 500;
                    }
                }
            }
        }
        .text-center{
            i{
                font-size: 22px;
                color: #DDDDDD;
            }
        }
    }
}
}
@media screen and (max-width: $mobile-breakpoint) {
    i-calc {
    .bs-icn-txt {
        margin: 0;
        .mob-m-btm{
            margin-bottom: 20px;
        }
        .icn-with-txt{
            .icn{
                font-size: 28px;
                min-width: 41px;
                i {
                    top: 6px;
                    left: 7px;
                }
            }
            .txt{
                margin: 5px;
                p{
                    font-size: 9px;
                    &:first-child{
                        font-size: 11px;
                    }
                }
            }
         
        }
        &.saving{
            .icn-with-txt{
                .icn{
                    min-width: 58px;
                }
            }
            
        } 
    }
}
}
@media screen and (max-width:320px) {
    i-calc .bs-icn-txt .icn-with-txt .txt p:first-child {
        font-size: 7px;
    }
}