.bs-dropdown{
    background-color:$clr-white;
    font-size:16px;
    border:1px solid $clr-lightgrey;
    width:100%;
    text-align:left;
    &.dropdown-toggle:after{
        color:$clr-orange;
        border-top: .5em solid;
        border-right: .5em solid transparent;
        border-left: .5em solid transparent;
        position: absolute;
        top: 15px;
        right: 15px;
    }

    &.type-underline{
        border-top:none;
        border-left:none;
        border-right:none;
        border-bottom:1px solid $clr-dark;
        //border-bottom:1px solid $clr-theme;
        outline:none;
        color:$clr-dark;
        //color: $clr-theme;
        text-align:center;
        font-weight: 700;
        border-radius: 0;
        &.gray-brdr{
            border-bottom:1px solid #707070;
            border-radius: 0;
        }
    }
    &.type-small{
        width:160px;
        margin:0 auto;
        &:hover,&:focus{
            box-shadow:none!important;
        }
    }
    &.type-blue{
        color:$clr-theme;
        border-bottom:1px solid $clr-theme!important;
        position: relative;
        &:after{
            position:absolute;
            top: 6px;
            right: -5px;
            content:'\e91b';
            font-size:14px;
            line-height:14px;
            font-family: 'icomoon' !important;
        }

        // &::-ms-expand{
        //     display: none; 
        // }
        // &{
        //     -webkit-appearance: none;
        //     appearance: none;
        // }
    }
    &.month-select{
        padding: 0;
        margin-left: 10px;
        background-image: none;
        box-shadow: none;
        position: relative;
        border: none;
        outline: none;
        &:focus{
            box-shadow: none!important;
            outline: none!important;

        }
    }
}