i-calc {
.bs-heading{
    font-size: 26px;
    font-weight: 900;
    margin-bottom: 22px;
    margin-top: 0;
    color: $clr-dark;
    &.typ-bnnr-heading{
        margin-top: 35px;
    }
    &.typ-white{
        color: $clr-white;
    }
    &.typ-sml{
        font-size: 20px;
    }
    // &.clr-txt{
    //     color: $clr-orange;
    // }
}
}
@media screen and (max-width: $tablet-breakpoint) {
    i-calc {
    .bs-heading{
        font-size: 20px;
        text-align: left;
        &.typ-sml{
            font-size: 14px;
            text-align: center;
        }
        &.typ-bnnr-heading{
            margin-top: 0;
            text-align: center;
        }
    }
}
}
@media screen and (max-width: $sm-device-breakpoint) {
    i-calc {
    .bs-heading{
        font-size: 20px;
        text-align: center;
        &.typ-sml{
            font-size: 14px;
        }
        &.typ-bnnr-heading{
            margin-top: 0;
        }
    }
}
}