i-calc {
.bs-popup{
    .modal-header{
        justify-content: center;
        flex-direction:column;
        align-items:center;
        border-bottom:none;
        position: relative;
        .modal-title{
            color:$clr-dark;
        }
        .modal-sub-title{
            color:$clr-gray;
        }
        .close{
            position:absolute;
            top:10px;
            right:10px;
            margin:0;
            padding:0;
        }
        .custm-select-bx{
            position: relative;
            display: inline-block;
            i{
                position: absolute;
                right: 0;
                z-index: 1;
                top: 13px;
                font-size: 14px;
                color: $clr-theme;
                pointer-events: none;
            }
        }
    }
    .modal-body{
        label{color:$clr-dark;}
        .full-element{
            font-weight:normal;
            margin:15px 0;
            &:nth-child(2){
                margin:15px;
            }
        }
    }
    .modal-footer{
        justify-content: center;
        border-top:none;
        .bs-btn{
            padding:5px 40px;
        }
    }

    &.type-investModal{
        .modal-dialog{
            .modal-header{
                .close{
                    top: -10px;
                    right: -5px;
                }
                .type-underline{
                    width:70px;
                }
            }
            .modal-content{
                padding: 15px 10px;
                .modal-body{
                    .cm-fullBox{
                        width: 80%;
                        margin: 0 auto;
                    }
                }
            }
        }
    } 

    &.type-personal-details{
        .modal-body{
            margin:0 auto;
            padding:0;
            .form-control{
                font-size:12px;
                line-height:12px;
                padding:18px 12px;
                &:focus{
                    box-shadow: none!important;
                }
            }
        }
        .modal-header{
            .close{
                top: -10px;
                right: -5px;
            }
        }
        .modal-content{
            padding: 15px 10px;
        }
        .bs-form.typ-custmr-dtls{
            padding:0;
            .gender-check.radio-toolbar label:not(:last-child) {
                margin-right:8px;
                width: 108px!important;
            }
        }
        .bs-field{
            position: relative;
            .field-right-label{
                position: absolute;
                top: 37px;
                right: 15px;
            }
        }
    }
}
}

@include media-breakpoint-up(sm) {
    i-calc {
        .bs-popup{
            &.type-personal-details{
                .modal-body{
                    width:360px;
                }
            }
            &.type-investModal{
                .modal-dialog{
                    min-width:530px;
                }
            }
        }
    }
}
@include media-breakpoint-down(sm) {
    i-calc {
        .bs-popup {
            .modal-header{
                padding-top:35px;
            } 
            .modal-body {
                .cm-fullBox{
                    flex-direction:row;
                }
                .full-element{
                    margin: 7px 0;
                    &:nth-child(2) {
                        margin: 7px 5px;
                    }
                }
            }
            .modal-footer{
                .bs-btn {
                    padding: 10px 40px;
                }
            }

            &.type-investModal
            {
                .modal-dialog
                {
                    .modal-content
                    {
                        .modal-body
                        {
                            .cm-fullBox
                            {
                                width:90%;
                            }
                        }
                    }
                }
            }
            &.type-personal-details{
                .three-grid{
                    .gender-check.radio-toolbar label
                    {
                        width:30%;
                        margin:0!important;
                        &.delay03
                        {
                            margin-left:3%!important;;
                            margin-right:3%!important;;
                        }
                    }
                }
                .bs-form.typ-custmr-dtls{
                    padding:0;
                    .gender-check.radio-toolbar label:not(:last-child) {
                        width: 92px!important;
                    }
                }
            }
            &.type-buy-plan{
                .three-grid{
                    .gender-check.radio-toolbar label
                    {
                        width:30%;
                        &.delay03
                        {
                            margin-left: 0;
                            margin-right: 3%;
                        }
                    }
                }
            }
        }
    }
}
 
    
@media (max-width:420px) { 
    i-calc .bs-popup .modal-body .full-element{
        font-size: 10px;
    }
}
