i-calc {
    .bs-banner{
        &.typ-home{
            background-color: $clr-darkblue;
        }
        .bnnr-content{
            position: relative;
            padding-top: 30px;
            .bnnr-para{
                font-size: 16px;
                font-weight: 400;
                color: rgba(255, 255, 255, 0.79);
                margin-bottom: 0;
                // max-width: 432px;
                margin-bottom: 50px;
            }
            .video-bx{
                position: absolute;
                top: 30px;
                right: 15px;
                min-width: 445px;
                min-height: 290px;
                background-color: white;
                box-shadow: 0 3px 6px rgba(0,0,0,0.16);
                .popup-gallery{
                    width: 100%;
                    position: absolute;
                    left: 0;
                    top: 0;
                    height: 100%;
                    .video {
                        display: inline-block;
                        border: none;
                        height: 100%;
                        width:100%;
                    }
                    .play{
                        // position: absolute;
                        // left: 50%;
                        // transform: translate(-50%);
                        // top: 50%;
                        // margin-top: -12px;
                        i{
                            font-size: 40px;
                            color: #D5D5D5;
                        }
                    }
                }
               
                
            }
        }
    }
}
@media screen and (max-width: $desktop-breakpoint) {
    i-calc {
        .bs-banner{
            .bnnr-content{
                .video-bx{
                    top: 22%;
                }
            }
        }
    }
}

@media screen and (max-width: $mobile-breakpoint) {
    i-calc {
        .bs-banner{
            .bnnr-content{
                .left-txt{
                    .bnnr-para{
                        text-align: center;
                        margin-bottom:20px ;
                    }
                }
                .video-bx{
                    position: relative;
                    min-width: 340px;
                    min-height: 165px;
                    margin: 0 auto;
                    top: 10px;
                    right:0;
                }
            }
        }
    }
}
@media screen and (max-width:$sm-device-breakpoint) {
    i-calc {
        .bs-banner{
            .bnnr-content{
                .left-txt{
                    .bnnr-para{
                        text-align: center;
                        margin-bottom:20px ;
                    }
                }
                .video-bx{
                    position: relative;
                    min-width: 340px;
                    min-height: 165px;
                    margin: 0 auto;
                    top: 10px;
                    right:0;
                }
            }
        }
    }
}

@media screen and (max-width: 320px) {
    i-calc {
        .bs-banner{
            .bnnr-content{
                .video-bx{
                    min-width: 302px;
                }
            }
        }
    }
}