i-calc {
.bs-list{
    ul{
        list-style: none;
        margin-bottom: 0;
        li{
            font-size: 14px;
            font-weight: 400;
            color: #777575;
            margin-bottom: 5px;
            i{
                color: $clr-orange;
                margin-right: 12px;
                display:block;
                float: left;
            }
            .bs-list-content{
                width:90%;
                float:left;
            }
        }
    }
    &.typ-saving-plans{
        margin: 0 -15px;
        ul{
            padding: 0;
            li{
                margin-bottom: 0;
                .form-check-inline{
                    margin: 0;
                    padding: 15px 0 15px 90px;
                    width: 100%;
                    &:hover{
                        background-color: #F2F2F2;
                    }
                    .radio-content {
                        position: relative;
                        padding-left: 42px;
                        font-size: 16px;
                        color: $clr-dark;
                        cursor: pointer;
                         margin: 0;
                         width: 100%;
                         display: block;
                    }
                    .radio-content input {
                        position: absolute;
                        opacity: 0;
                        cursor: pointer;
                        left: 42px;
                        top: 5px;
                    }
                    .radio-content input:checked~.checkmark {
                        background-color: $clr-orange;
                    }
                    .checkmark {
                        position: absolute;
                        left: 0;
                        height: 24px;
                        width: 24px;
                        border-radius: 50%;
                        top: 50%;
                        transform: translateY(-50%);
                        background-color: #E5E5E5;
                        border: none;
                    }
                }
            }
        }
    }
    &.typ-pln-dtls{
        ul{
            padding: 0;
        }
    }
}

}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    i-calc .saving.bs-icn-txt .icn-with-txt .txt p:last-child{
        max-width: 225px;
    }
}
@media screen and (max-width: $mobile-breakpoint) {
    i-calc {
    .bs-list{
        ul{
            padding: 0;
            li{
                font-size: 10px;
                i{
                    margin-right: 5px;
                    margin-top: 3px;
                }
            }
        }
    }
}}