i-calc {
.bs-datepicker{
    position: relative;
    .date-picker{
        color:$clr-orange;
        background-color:$clr-white;
        border:1px solid $clr-orange;
        border-radius: .25rem;
        padding:7px 10px;
        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color:$clr-orange;
        }
        &::-moz-placeholder { /* Firefox 19+ */
            color:$clr-orange;
        }
        &:-ms-input-placeholder { /* IE 10+ */
            color:$clr-orange;
        }
        &:-moz-placeholder { /* Firefox 18- */
            color:$clr-orange;
        }
    }    
    .icon-calendar-icon {
        font-size: 20px;
        line-height: 20px;
        position: absolute;
        top: 7px;
        right: 7px;
        color:$clr-orange!important;
    }
}

}

@include media-breakpoint-down(sm) {
    i-calc {
        .bs-datepicker .date-picker{
            padding: 7px 5px;
        }
    }
}
