i-calc {
    .swiper-container {
        width: 100%;
        height: 100%;
      }
      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
  
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }
      .bs-swiper{
          .swiper-container{
              .swiper-wrapper{
                  .swiper-slide{
                        border: 1px solid #004A80;
                        padding: 20px;
                        border-radius: 5px;
                        margin-bottom: 30px;
                      .slide-bx{
                        .value-bold{
                            font-size: 18px;
                            font-weight: 700;
                            color:#004A80 ;
                            margin-bottom: 6px;
                            &.m-top-40{
                                margin-top: 40px;
                            }
                        }
                        .value-light{
                            font-size: 11px;
                            font-weight: 400;
                            color:#004A80 ;
                            margin-bottom: 0;
                            &.typ-gray{
                                color: $clr-dark;
                            }
                        }
                      }
                  }
              }
          }
      }
    }
    @media screen and (max-width: 767px) {
        i-calc {
            .bs-swiper{
                .swiper-container{
                    .swiper-wrapper{
                        .swiper-slide{
                            min-height: 228px;
                            padding: 20px 12px;
                            .slide-bx{
                              .value-bold{
                                  font-size: 17px;
                                  &.m-top-40{
                                      margin-top: 30px;
                                  }
                                  &.typ-sml{
                                      font-size: 12px;
                                  }
                              }
                              .value-light{
                                  font-size: 10px;
                                  font-weight: 400;
                                  color:#004A80 ;
                                  margin-bottom: 0;
                                  &.typ-gray{
                                      color: $clr-dark;
                                  }
                              }
                            }
                        }
                    }
                }
            }
        }
    }