i-calc {
.bs-carts{
    box-shadow: 0 0px 8px rgba(0,0,0,0.16);
    padding: 15px;
    background-color: $clr-white;
    margin-bottom: 20px;
    &:hover,&:focus,&.active{
        box-shadow: 0 0px 8px rgba(0,0,0,0.24);
    }
    &.person-detls{
        padding: 20px 15px;
    }
    &.typ-saving-plans{
        padding: 0;
        border-radius: 5px;
    }
    &.min-height{
        // min-height: 122px;
        min-height: 124px;
        cursor: pointer;
        border-radius: 5px;
        padding-bottom: 5px;
        .accrdn-cards{
            .arrw-up{
                font-size: 22px;
                color: #DDDDDD;
                transform: rotate(180deg);
                display: block;
            }
        }
    }
    &.info-bx{
        padding: 25px;
        .info-headings{
            .top-title{
                font-size: 14px;
                font-weight: 400;
                color: $clr-dark;
                margin-bottom: 5px;
            }
            .heading{
                font-size: 18px;
                font-weight: 900;
                color: $clr-darkblue;
                margin-bottom: 15px;
            }
            .sub-heading{
                font-size: 16px;
                font-weight: 700;
                color: $clr-dark;
                margin-bottom: 25px;
            }
        }
        .stamp{
            align-self: flex-end;
        }
    }
    .la-expand-col{
        display: none;
    }
    .id-expand-col{
        display: none;
        .desk-filter-bx{
            display: block;
        }
        .mob-filter-bx{
            display: none;
        }
    }
}
}

@media screen and (max-width: $mobile-breakpoint) {
    i-calc {
    .bs-carts{
        margin-bottom: 20px;
        &.info-bx{
            padding: 15px;
            .info-headings{
                .heading{
                    font-size: 16px;
                }
                .sub-heading{
                    margin-bottom: 15px;
                }
            }
            .stamp{
               text-align: right;
               margin-top: -30px;
               img{
                   width: 75px;
               }
            }
        }
    }
}
}
@media screen and (max-width: 767px) {
i-calc {
    .bs-carts{
.id-expand-col{
    display: none;
    .desk-filter-bx{
        display: none;
    }
    .mob-filter-bx{
        display: block;
    }
}
    }
}
}