i-calc {
    .bs-toggle{
        text-align:center;  
        display:flex!important;
        margin-bottom:15px;
        .bs-toggle-elements{
            flex-grow:1;
            margin:0;
            &:nth-child(2){
                margin:0 10px;
            }
        }
        label{
            margin-right:10px;
            border-radius:.25rem!important;
            background-color:$clr-white;
            border:1px solid $clr-orange;
            color:$clr-orange!important;
            &.active,&:active,&:focus{
                background-color:$clr-orange;
                border:1px solid $clr-orange;
                color:$clr-white!important;
                outline:none;
            }
            &:last-child{
                margin-right:0;
            }
        }
        .bs-datepicker{
            display:inline-block;
            text-align:left;
            .date-picker{
                width:100%;
            }
        }
    }
}