i-calc {
.bs-timepicker{
    position: relative;   
    .icon{
        font-size: 20px;
        line-height: 20px;
        position: absolute;
        top:37px;
        right: 7px;
        color:$clr-orange!important;
    }
}
}