i-calc {
.bs-header {
        box-shadow: 0 3px 6px rgba(0,0,0,0.16);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: #fff;
        z-index: 99999;

    .navbar{
        background-color: white;
        border-color: transparent;
        border: none;
        border-radius: 0;
        margin-bottom: 0;
        padding: 15px 0;
        .mob-show-only{
            display: none;
        }
        .navbar-collapse{
            justify-content: flex-end;
       
        .navbar-nav{
            margin-top: 3px;
          
            .nav-item{
                margin-left: 25px;
                .nav-btns{
                    min-width: 120px;
                    display: block;
                    font-size: 14px;
                    font-weight: 700;
                    color: $clr-darkblue;
                    padding: 5px 25px;
                    border-radius: 20px;
                    border: 2px solid $clr-gray;
                    &:hover{
                        background-color: $clr-darkblue;
                        color: $clr-white;
                        border: 2px solid $clr-darkblue;
                        transition: all 0.5s;
                    }
                    &.typ-squar{
                        border-radius: 5px;
                        border: 1px solid $clr-default;
                        color: $clr-default;
                        font-size: 16px;
                        padding: 5px 0;
                        min-width: 168px;
                        i{
                            margin-right: 15px;
                            margin-left: 10px;
                        }
                        &:hover{
                            background-color: $clr-default;
                            color: $clr-white;
                            border: 1px solid $clr-default;
                            transition: all 0.5s;
                        }
                    }
                }
            }
        }
    }
        .navbar-header{
            .navbar-brand{
                height: auto;
                padding: 0;
            }
        }
    }

    &.sticky{
        position: fixed;
        top:0;
        left:0;
        width: 100%;
        z-index: 9;
        background-color:$clr-white;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12);
        .container{
            padding: 0;
            .navbar{
                padding: 15px;
                //box-shadow: 0 1px 3px rgba(0,0,0,0.12)
            }
        }

    }
}
.mob-sticky-btns{
    display: none;
}
}
.landing-page{
    padding-bottom: 0;
    .bs-header{
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
        -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
    }
    .mob-sticky-btns{
        display: none;
        .navbar-nav{
            flex-direction: row;
            .nav-item{
                .nav-btns{
                    min-width: 98px;
                    display: block;
                    font-size: 12px;
                    font-weight: 700;
                    color: $clr-darkblue;
                    padding: 5px 17px;
                    border-radius: 20px;
                    border: 2px solid $clr-gray;
                    text-align: center;
                    background-color: $clr-white;
                }
                &:first-child{
                    margin-right: 10px;
                }
            }
        }
    }
}

@media screen and (max-width: $mobile-breakpoint) {
    i-calc {
        .bs-header {
            .navbar{
                padding: 15px 0;
                border-radius: 0;
                .navbar-toggler{
                    display: none;
                }
                .mob-show-only{
                    display: block;
                    width: 42px;
                    height: 42px;
                    background-color: #EBEBEB;
                    border-radius:50%;
                    position: relative;
                    a{
                        i{
                            position: absolute;
                            left: 12px;
                            top: 10px;
                            font-size: 20px;
                            color: $clr-default;
                        }
                    }
                }
            }
            &.sticky{
                position: fixed;
                width: 100%;
                z-index: 9;
                .container{
                    padding: 0;
                    .navbar{
                        padding: 15px;
                        box-shadow: 0 1px 3px rgba(0,0,0,0.12)
                    }
                }

            }
        }
           
           
    }
    .landing-page{
        padding-bottom: 50px;
        .mob-sticky-btns{
            // display: block;
            display: flex;
            position: fixed;
            bottom: 0;
            right: 0;
            z-index: 2;
            width: 100%;
            justify-content: flex-end;
            background-color: $clr-white;
            padding: 10px;
            box-shadow: 0 0px 8px rgba(0,0,0,0.16);
        }
    }
}
@media screen and (max-width: $sm-device-breakpoint) {
    i-calc {
        .bs-header {
            .navbar{
                padding: 15px 0;
                border-radius: 0;
                .navbar-toggler{
                    display: none;
                }
                .mob-show-only{
                    display: block;
                    width: 42px;
                    height: 42px;
                    background-color: #EBEBEB;
                    border-radius:50%;
                    position: relative;
                    a{
                        i{
                            position: absolute;
                            left: 12px;
                            top: 10px;
                            font-size: 20px;
                            color: $clr-default;
                        }
                    }
                }
            }
            &.sticky{
                position: fixed;
                width: 100%;
                z-index: 9;
                .container{
                    padding: 0;
                    .navbar{
                        padding: 15px;
                        box-shadow: 0 1px 3px rgba(0,0,0,0.12)
                    }
                }

            }
        }
       
        
    }
    .landing-page{
        padding-bottom: 50px;
        .mob-sticky-btns{
            // display: block;
            display: flex;
            position: fixed;
            bottom: 0;
            right: 0;
            z-index: 2;
            width: 100%;
            justify-content: flex-end;
            background-color: $clr-white;
            padding: 10px;
            box-shadow: 0 0px 8px rgba(0,0,0,0.16);
        }
    }

}