i-calc {
.bs-accordian{
    .card{
        border: 1px solid  rgba(9, 75, 127, 0.40);
        border-radius: 0;
        .card-header{
            border-bottom: none;
            background-color: transparent;
            margin: 0;
            // padding: 18px 12px;
            padding: 0;
            h2{
                line-height: 0;
                .btn-link{
                    width: 100%;
                    text-align: left;
                    line-height: 0;
                    font-size: 16px;
                    font-weight: 400;
                    color:$clr-darkblue;
                    padding: 24px 12px;
                    &:hover,&:focus{
                        text-decoration: none;
                        box-shadow: none!important;
                    }
                    .icns{
                        position: absolute;
                        right: 12px;
                        top: 18px;
                    }
                    .icn-open{
                        display: none;
                    }
                    .icn-close{
                        display: block;
                    }
                    &.collapsed{
                        .icn-open{
                            display: block;
                        }
                        .icn-close{
                            display: none;
                        }
                    }
                }
            }
           
        }
        .card-body{
            padding: 0 12px 35px 12px;
            p{
                font-size: 16px;
                font-weight: 400;
                color: #717171;
                margin: 0;
            }
        }
    }
    &.typ-saving-plans{
        .card{
            border: none;
            border-radius: 5px;
            .card-header{
                // padding: 0;
                padding: 15px;
                padding-bottom: 5px;
                h2{
                    .btn-link{
                        padding: 0;
                            .dwn-arrow{
                                display: block;
                            }
                            .dwn-arrow1{
                                display: block;
                            }
                            .dwn-arrow2{
                                display: block;
                            }
                    }
                }
            } 
            .card-body{
                padding: 0;
                .text-center{
                    padding-bottom: 8px;
                    i {
                        font-size: 22px;
                        color: #DDDDDD;
                        transform: rotate(180deg);
                        display: block;
                    }
                }
            }
        }
        .collapse.show{
            .btn-link{
                .dwn-arrow1{
                    display: none;
                }
            }
        }
     }
     &.typ-saving-plans-info{
        .card{
            background-color: transparent;
            border: none;
            margin-bottom: 12px;
            .card-header{
                padding: 0;
                h2 {
                    .btn-link{
                        font-size: 20px;
                        font-weight: 700;
                        color: $clr-dark;
                        background-color: white;
                        padding: .38rem;
                        border-radius: 0;
                        .rund-icn{
                            display: inline-block;
                            width: 36px;
                            height: 36px;
                            background-color: white;
                            border-radius: 50%;
                            position: relative;
                            color: $clr-orange;
                            margin-right: 12px;
                            float: left;
                            i{
                                font-size: 27px;
                                position: absolute;
                                left: 4px;
                                top: 1px;
                                &.guaranteed{
                                    font-size: 30px;
                                    top: 3px;
                                }
                            }
                        }
                        p{
                            margin: 0;
                            margin-top: 20px;
                        }
                        &.collapsed{
                            background-color: #F5F5F5;
                        }
                    }
                }
            }
            .card-body{
                padding: 20px 12px 20px 12px;
            }
            .collapse.show{
                background-color: white;
                transition: height 0.35s ease;
            }
            .collapsing {
                transition: height 0.1s ease;
            }
        }
    }
                        
    }
}
                    
 @media screen and (max-width: $mobile-breakpoint) {
    i-calc {
        .bs-accordian{
            .card{
                .card-header{
                    h2 {
                        .btn-link{
                            font-size: 12px;
                        }
                    }
                }
            }
            &.typ-saving-plans-info{
                .card{
                    .card-header{
                        h2 {
                            .btn-link{
                                font-size: 15px;
                            }
                        }
                    }
                    .card-body{
                        padding-top: 0;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 320px) {
    i-calc {
        .bs-accordian{
            .card{
                .card-header{
                    h2 {
                        .btn-link{
                            font-size: 10px;
                        }
                    }
                }
            }
            &.typ-saving-plans-info{
                .card{
                    .card-header{
                        h2 {
                            .btn-link{
                                font-size: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}