
// i-calc {
//     .bs-footer {
//         display: none;
//     }
//     .landing-page{
//     .bs-footer {
//         display: none;
//     }
// }
// }

// @media screen and (max-width: $mobile-breakpoint) {
//     i-calc {
//         .bs-footer {
//             display: block;
//         }
//         .inner-page{
//             .bs-footer {
//                 display: none;
//             }
//         }
// }
// }