i-calc {
    .bs-btn{
        background-color:$clr-orange;
        color:$clr-white;
        border:1px solid $clr-orange;
        box-shadow: none;
        font-size: 16px;
        font-weight: 700;
        outline: none;
    
        &:hover,&:focus{
            // color:$clr-orange;
            // border: 1px solid $clr-orange;
            // background-color: $clr-white;
            color:$clr-white;
            box-shadow:0 3px 6px rgba(0, 0, 0, 0.18)!important;
            outline: none;
            transition: all 0.5s;
        }
        &.typ-outline{
            color:$clr-orange;
            background-color:$clr-white;
            border:1px solid $clr-orange;
            &:hover,&:focus{
                color:$clr-white;
                background-color:$clr-orange;
            }   
        }
        &.full-width{
            width: 100%;
            border-radius: 5px;
            padding: 8px 0;
        }
        &.typ-round{
            border-radius: 20px;
        }
        &.type-white{
            background-color:$clr-white;
            border:1px solid $clr-default;
            color:$clr-default!important;
            font-weight:normal;
            &:hover,&:active,&.active{
                border:1px solid $clr-orange;
                font-weight:700;
            }
        }
        &.close-btn{
            position: absolute;
            right: 20px;
            top: 20px;
            background-color: transparent;
            border: 1px solid #999999;
            color: #999999;
            font-size: 12px;
            font-weight: 400;
            border-radius: 3px;
            min-width: 60px;
            padding: 5px 0;
            &.close-btn1{
                display: block;
            }
            &.close-btn2{
                display: none;
             }
             &.typ-back{
                position: relative;
                right: 0;
                top: 0;
                margin-top: 20px;
                min-width: 155px;
                font-size: 16px;
                padding: 7px 0;
                font-weight: 700;
                text-align: center;
                &:hover,&:focus{
                    color:$clr-white;
                    outline: none;
                    border: 1px solid #999999;
                    background-color:#999999;
                    transition: all 0.5s;
                }
             }
        }
        &.typ-edit{
            border: 1px solid #f58220;
            padding: 3px 24px;
            background-color: white;
            color: #f58220;
            border-radius: 3px;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 400;
            &:hover,&:focus{
                color:$clr-white;
                outline: none;
                border: 1px solid $clr-orange;
                background-color: $clr-orange;
                transition: all 0.5s;
            }
        }
        &.typ-download-brochure{
            background-color: transparent;
            border: 1px solid #B02A30;
            box-shadow: none;
            font-size: 14px;
            font-weight: 700;
            outline: none;
            color: #B02A30;
            min-width: 176px;
            padding: 4px 0;
            text-align: center;
            i{
                margin-left: 5px;
            }
            &:hover,&:focus{
                color:$clr-white;
                outline: none;
                border: 1px solid #B02A30;
                background-color:#B02A30;
                transition: all 0.5s;
            }
        }

       &.grey-outline{
        background-color: transparent;
        border: 1px solid #999999;
        color: #999999;
        font-size: 12px;
        font-weight: 400;
        border-radius: 3px;
        min-width:150px;
        padding: 5px 0;
        &:hover,&:focus{
            color:$clr-white;
            outline: none;
            border: 1px solid #999999;
            background-color:#999999;
            transition: all 0.5s;
        }
       }
    }
}

@supports (-ms-ime-align:auto) {
    i-calc .bs-btn.typ-download-brochure{
        padding: 4px 20px;
    }
    i-calc .bs-btn.close-btn.typ-back{
        padding: 7px 60px;
    }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    i-calc .bs-btn.typ-download-brochure{
        padding: 4px 20px;
    }
    i-calc .bs-btn.close-btn.typ-back{
        padding: 7px 60px;
    }
}
@media screen and (max-width:767px) {
    i-calc {
        .bs-btn{
            &.close-btn{
                &.close-btn1{
                    display: none;
                 }
                 &.close-btn2{
                     display: block;
                     position: absolute;
                     right: 10px;
                     top: 10px;
                     background-color: transparent;
                     color: $clr-dark;
                     border: none;
                  }
            }
            // &.typ-edit{
            //     padding: 3px 24px;
            // }
        }
    }
}

@media screen and (max-width:320px) {
    i-calc {
        .bs-btn{
            &.typ-edit{
                padding: 3px 18px;
            }
        }
    }
}