i-calc {
    .mod-user-details{
        .black-text{
            color:$clr-dark;
            font-size:13px;
        }

        .form-control{
            color:$clr-dark;
        }
        .bs-btn.type-white{
            width:100%;
        }
        label{
            color:$clr-dark;
        }
        .till-maturity{
            font-size:12px;
            line-height:12px;
            padding:12px 0;
        }
        .bs-dropdown{
            width:100%!important;
            height:38px!important;
        }
    }
}

@include media-breakpoint-down(sm) {
    i-calc {
        .filter-list{
            .filter-highlights{
                font-size: 8px;
                line-height:8px;
            }
            .tab-content>.tab-pane .tab-item{
                padding-bottom:40px;
                position: relative;
                .grey-box{
                    padding:5px 15px;
                    .icon-content{
                        margin:1px 0!important;
                        .icon-text{
                            // width:80%;
                            margin-bottom:10px;
                        }
                    }
                    .maroon-link{
                        float:none;
                        position:absolute;
                        bottom: 10px;
                        right: -10px;
                    }
                } 

                .white-header
                {   
                    & .plan-image,
                    & .plan-time,
                    & .plan-scheme,
                    & .big-data
                    {   
                        border-right:none;
                        padding:0;
                        width:50%;
                    }
                    & .plan-image{
                        margin-bottom:15px;
                    }
                    & .plan-time{
                        position: absolute;
                        top: 71px;
                        left: 0;
                    }
                    & .plan-scheme{
                        position:absolute;
                        bottom:-8px;
                        left:15px;
                        a{
                            font-size: 12px;
                            line-height: 12px;
                        }
                    }

                    & .big-data .heading-1{
                        font-size:11px;
                        line-height:11px;
                    }
                    & .big-data .heading-2{
                        font-size:14px;
                        line-height:14px;
                    }
                    & .big-data .heading-3{
                        font-size:11px;
                        line-height:11px;
                    }

                }
            } 
        }            
    }
}