i-calc {
.mod-enquire-sec{
    background-color: $clr-white;
    padding: 30px 0;
    border: 1px dashed #BBBBBB;
    border-radius: 5px;
    .about-sec{
        max-width: 350px;
        margin-left: 90px;
        margin-top: 20px;
        .bs-heading{
            margin-bottom: 0;
            &:last-child{
               color: $clr-orange;
            }
        }
        p{
            margin-bottom: 0;
            font-size: 16px;
            font-weight: 400;
        }
    }
    .enquire-input-bx{
        padding: 0 92px;
        p{
            text-align: center;
            margin-bottom: 0;
            font-size: 16px;
            font-weight: 700;
            color: $clr-darkblue;
            a{
                font-size: 16px;
                font-weight: 700;
                color: $clr-darkblue;
            }
        }
    }
}
}

@media screen and (max-width: $mobile-breakpoint) {
i-calc {
    .mod-enquire-sec{
        .enquire-input-bx{
            padding: 30px 20px;
            border-radius: 5px;
        }
    }
}
}
@media screen and (max-width: $sm-device-breakpoint) {
    i-calc {
        .mod-enquire-sec{
            background-color: transparent;
            border: none;
            padding: 0;
            border-radius: 0;
            .about-sec {
                max-width: initial;
                margin-left: 0;
                margin-top: 0;
                text-align: center;
                margin-bottom: 20px;
            }
            .enquire-input-bx{
                padding: 30px 20px;
                border: 1px dashed #BBBBBB;
                background-color: $clr-white;
                border-radius: 5px;
            }
        }
    }
    }