i-calc {
.filter-list{
    .filter-heading{
        font-size:20px;
        color:$clr-dark;
        font-weight:700;
    }

    .scrolling-box{
        overflow:auto;
    }

    .nav-tabs{
        border-bottom:1px solid #E0E0E0;
        &:focus{
            outline: none;
        }
        .nav-item{
            margin-bottom:0;
            &:focus{
                outline: none;
            }
            .nav-link{
                color:#6F6D5E;
                font-size:16px;
                padding:15px 0;
                margin: 0 15px;
                outline: none;
                border:none;
                // border-bottom:3px solid white;
                &:hover,&:focus,&:active{
                    border: none;
                    color: #000000;
                    // border-bottom:3px solid $clr-orange;
                    // font-weight:bold;
                    outline: none;
                }
            }
            .nav-link.active, 
            .nav-item.show .nav-link
            {
                border-radius:0;
                border-top:none;
                border-left:none;
                border-right:none;
                border-bottom:3px solid $clr-orange;
                // font-weight:bold;
                color: #000000;
                &:hover,&:focus,&:active{
                    border-top:none;
                    border-left:none;
                    border-right:none;
                    border-bottom:3px solid $clr-orange;
                    // font-weight:bold;
                    outline: none;
                   
                }
            }
        }
    }

    .compare-btn{
        margin-top:20px;
        border:1px solid #BBBBBB;
        border-radius:20px;
        padding:5px 15px;
        font-size:12px;
        float:right;
        &:hover,&:focus{
            box-shadow:none!important;
        }
        .compare-icon{
            font-size:20px;
            line-height:20px;
            float:left;
            color:$clr-dark;
        }
        .compare-text{
            float:left;
            margin:5px 0 0 5px;
            font-size:12px;
            line-height:12px;
            color:$clr-dark;
        }
    }
    .filter-highlights{
        padding: 5px 10px;
        border-radius: 15px;
        background-color:$clr-maroon;
        font-size:12px;
        color:$clr-white;
        position: relative;
        top: 8px;
        z-index:99;
    }

    .sort-btn{
        border:none;
        background-color:transparent;
        float:right;
        outline:none;
        &:hover,&:focus{
            outline:none;
        }
        .sort-text{
            font-size:11px;
            float:left;
            color:#707070;
        }
        .icon-sort{
            font-size:18px;
            float:left;
            color:#707070;
        }
        &.active{
            .icon-sort{
                -moz-transform: scaleX(-1);
                -o-transform: scaleX(-1);
                -webkit-transform: scaleX(-1);
                transform: scaleX(-1);
                filter: FlipH;
                -ms-filter: "FlipH";
            }
        }
    }
    .plans-list{
        margin-top:20px;
        .col-md-12:nth-child(1){
            z-index:999;
        }
        .col-md-12:nth-child(2){
            z-index:99;
        }
    }
    .tab-content > .tab-pane{
        .tab-item{
            border:1px solid #BBBBBB;
            border-radius:5px;
            margin-bottom:20px;
            .white-header{
                padding:15px;
                .plan-image{
                    float:left;
                    border-right:1px solid #DBDBDB;
                    padding:0 40px;
                    height:50px;
                    img{
                        width:160px;
                    }
                }
                .plan-time{
                    float:left;
                    border-right:1px solid #DBDBDB;
                    padding:0 40px;
                    height:50px;
                    .line-1{
                        display:block;
                    }
                    .line-2{
                        display:block;
                    }
                }
                .plan-scheme{
                    float:left;
                    border-right:1px solid #DBDBDB;
                    padding:0 40px;
                    height:50px;
                    a{
                        margin: 15px 0 0;
                        font-size:16px;
                        line-height:16px;
                        display: inline-block;
                        color:#094B7F;
                        text-decoration:underline;
                    }
                }
                .big-data{
                    float:left;
                    padding:0 40px;
                    height:50px;
                    text-align:center;
                    .heading-1{
                        color:#094B7F;
                        font-size:16px;
                        line-height:16px;
                        display:block;
                        margin-bottom:5px;
                    }
                    .heading-2{
                        color:#094B7F;
                        font-size:22px;
                        line-height:22px;
                        font-weight:700;
                        display:block;
                        float:left;
                        margin-bottom:5px;
                    }
                    .icon-timer{
                        float:left;
                        margin:5px 0 0 5px;
                    }
                    .heading-3{
                        color:#094B7F;
                        font-size:12px;
                        line-height:12px;
                        display:block;
                        font-style:italic;
                    }
                }
                .plan-trigger{
                    float:right;
                    padding:10px 50px;
                }
            }
            .grey-box{
                margin-top:10px;
                background-color:#E8ECF0;
                clear: both;
                padding:5px 15px;
                .icon-content{
                    float:left;
                    margin:1px 25px;
                    .icon-box{
                        display:block;
                        float:left;
                        font-size:18px;
                        margin-right:5px;
                    }
                    .icon-text{
                        overflow: hidden;
                        display:block;
                        font-size:12px;
                        line-height: 12px;
                        color:#444444;
                        margin-top: 2px;
                        font-family:'Lato', sans-serif!important;
                    }
                }
                .maroon-link{
                    float: right;
                    margin-right:30px;
                }
            }
        }
    }

    &.typ-pln-detls{
        .nav-tabs{
            border-bottom: none;
            .nav-item{
                .nav-link{
                   padding: 10px 0;
                   margin-left: 0;
                   margin-right: 30px;
                   &.m-ryt-non{
                       margin-right: 0;
                   }
                }
            }
        }
        .plans-list{
            margin-top: 0;
            .title{
              font-size: 16px;
              font-weight: 700;
              color: $clr-dark;
              text-transform: uppercase;
            }
          .subtitle{
            font-size: 14px;
            font-weight: 400;
            color: #BBBBBB;
            margin-bottom: 0;
            span{
                display: inline-block;
                margin-right: 20px;
            }
          }
          .edit-btn-bx{
            align-self: center;
            text-align: right;
            &.typ-flex-start{
                align-self:initial;
                margin-top: 20px;
            }
          }
          .bs-carts{
              border-radius: 5px;
          }
        }
        .download-brochure{
            align-self: center;
            text-align: right;
        }
        .mob-download-brochure{
            display: none;
        }
    }

}
}
.filter-box{
    // transition: all 0.2s ease-in-out;
    position: fixed;
    width: 100%;
    z-index:2;
    top: 80px;
}
@supports (-ms-ime-align:auto) {
    i-calc .filter-list.typ-pln-detls .plans-list .subtitle span{
        display: inline-flex;
    }
}
@media screen and (max-width: $desktop-breakpoint) {
    i-calc{
        .filter-list{
            .filter-highlights{
                font-size: 11px;
            }
            .tab-content{
                .tab-pane{
                    .tab-item{
                        .white-header{
                            .plan-image{
                                padding: 0 20px;
                            }
                            .plan-time{
                                padding: 0 20px;
                            }
                            .plan-scheme{
                                padding: 0 20px;
                            }
                            .big-data{
                                padding: 0 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: $tablet-breakpoint) {
    i-calc{
        .filter-list{
            .filter-highlights{
                font-size: 11px;
            }
            .tab-content{
                .tab-pane{
                    .tab-item{
                        .white-header{
                            .plan-image{
                                padding: 0 20px;
                                img{
                                    width: 132px;
                                }
                            }
                            .plan-time{
                                padding: 0 20px;
                            }
                            .plan-scheme{
                                padding: 0 20px;
                            }
                            .big-data{
                                padding: 0 20px;
                            }
                            .plan-trigger{
                                margin-right: 16px;
                                margin-top: 24px;
                            }
                        }
                    }
                }
            }
            .nav-tabs .nav-item .nav-link{
                font-size: 14px;
                margin:0 10px;
            }
            .compare-btn{
                display: flex;
            }
        }
    }

}
@media screen and (max-width: $mobile-breakpoint) {
    i-calc {
        .filter-list{
            &.typ-pln-detls{
                .nav-tabs{
                    border-bottom:1px solid #E0E0E0;
                    .nav-item{
                        .nav-link{
                           margin-right: 15px;
                        }
                    } 
                }
                .plans-list{
                    margin-top: 20px;
                    .title{
                      font-size: 14px;
                    }
                  .subtitle{
                    font-size: 12px;
                    span{
                        display: inline-block;
                        margin-right: 10px;
                    }
                  }
                  .edit-btn-bx{
                    align-self: center;
                    text-align: right;
                  }
                }
                .download-brochure{
                    display: none;
                }
                .mob-download-brochure{
                    display: block;
                    text-align: center;
                }
                .cntr-align{
                    text-align: center;
                }
            }
        }

    }
}
@media screen and (max-width: 767px) {
    i-calc {
        .filter-list{
            .tab-content{
                .tab-pane{
                    .tab-item {
                        .white-header{
                            .plan-image{
                                padding:0;
                                border: none;
                            }
                            .plan-time {
                                padding:0 0 0 15px;
                                text-align: left!important;
                                border: none;
                                height: auto;
                                top: 34%;
                                .line-1{
                                    display: inline-block;
                                }
                            }
                            .big-data{
                                padding: 0;
                                height: auto;
                                .heading-1{
                                    font-size: 14px;
                                }
                                .heading-2{
                                    font-size: 18px;
                                    margin-left:28px;
                                }
                                .icon-time {
                                    margin: 6px 0 0 5px;
                                }
                               
                            }
                            .plan-trigger{
                                margin-top: 12px;
                                margin-right:5px;
                                padding: 5px 35px;
                            }
                            .plan-scheme{
                                padding: 0;
                                border: none;
                            }
                        }
                        .grey-box{
                            margin-top: 0;
                        }
                    }
                } 
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    i-calc {
    .filter-list {
        .filtered-list{
            margin-bottom:70px;
            .compare-btn{
                position: absolute;
                top: 0;
                left: 15px;
                display:none;
            }
            .sort-btn{
                position: absolute;
                top: 0;
                right: 15px;
            }
        }
        .compare-btn{
            position: absolute;
            top:0;
            left: 15px;
        }
        .sort-btn{
            position: absolute;
            top:-70px;
            right:15px;
            .sort-text {
                font-size: 14px;
            }
            .icon-sort {
                font-size: 24px;
            }
        }
    }
}
    
}


@media screen and (max-width: 320px) {
    i-calc{
        .filter-list{
            .filter-highlights{
                font-size: 11px;
            }
            .tab-content{
                .tab-pane{
                    .tab-item{
                        .white-header{
                            .big-data{
                                .heading-2{
                                    font-size: 17px;
                                    margin-left: 13px;
                                }
                            } 
                            .plan-scheme a{
                                font-size: 15px;
                            }
                            .plan-trigger{
                                padding: 10px 40px;
                            }
                            .plan-time{
                                font-size: 13px;
                            }
                        } 
                    } 
                } 
            } 
        } 
    }
}