i-calc {
    .mod-disclaimer{
    }
}

@media screen and (max-width: $mobile-breakpoint) {
    i-calc {
        .mod-disclaimer{
            display:block;
                .card{
                    .card-header{
                        background-color: $clr-darkblue!important;
                        border-radius: 0;
                        // padding: 18px 15px;
                        border: none!important;
                        h2{
                            .btn-link{
                                color: $clr-white!important;
                                font-weight: 700;
                                font-size: 14px;
                                .icns{
                                    font-size: 20px;
                                    right: 20px;
                                    font-weight: 700;
                                    top: 15px;
                                }
                                .arrw-up{
                                    transform: rotate(180deg);
                                }
                            }
        
                        }
                    }
                    .card-body{
                        padding: 15px!important;
                        // max-height: 300px;
                        // overflow-y: scroll;
                    }
                }
        }
        .disclaimer-box{
            margin:0;
            padding:0;
        }
    }
}


