i-calc {
.mod-plan-delts{
    position: relative;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    .content{
        width: 70%;
        margin: 0 auto;
        h2{
            margin-bottom: 30px;
        }
        .bs-btn{
            max-width: 352px;
            margin-bottom: 10px;
        }
        a{
            display: block;
            font-size: 14px;
            color: #AE2B30;
            text-decoration: underline;
        }
    }
}
}

@media screen and (max-width: $mobile-breakpoint) {
    i-calc {
        .mod-plan-delts{
            .content{
                width: 100%;
                .bs-btn{
                  font-size: 22px;
                }
            }
        }
    }
}