i-calc {
.mod-counter{
    margin-bottom: 60px;
    .counter-bx{
        text-align: center;
        .count{
            line-height: 1;
            .counter{
                font-size: 40px;
                font-weight: 800;
                color: $clr-dark;
            }
        }

        .counter-name{
            font-size: 20px;
            font-weight: 400;
            color: #BBBBBB;
            line-height: 1;
            margin-top: 12px;
        }
    }
}
}


@media screen and (max-width: $mobile-breakpoint) {
i-calc {
    .mod-counter{
        margin-bottom: 60px;
        .counter-bx{
            text-align: center;
            .count{
                line-height: 1;
                .counter{
                    font-size: 18px;
                }
            }
    
            .counter-name{
                font-size: 10px;
            }
        }
    }
}
}