i-calc {
.lyt-horizontal-bx{
    padding: 25px;
   margin-top: 45px;
}
}
@media screen and (max-width: $mobile-breakpoint) {
    i-calc {
        .lyt-horizontal-bx{
          border-radius: 0;
          padding: 25px 15px;
        }
        }
}