i-calc {
.lyt-section{
    padding: 60px 0;
    &.bg-gray{
        background-color: #F5F5F5;
    }
    // &.saving-plans{
    //     .cart-bx-parent{
    //         margin-bottom: 45px;
    //     }
    // }
    &.saving-in-one-place{
        padding-bottom: 0;
    }
    .sec-saving{
        padding: 30px 0;
    }
    &.filter-box{
        background-color:#E8ECF0;
        padding:10px 0;
        z-index:9999;
        .desk-filter-bx{
            display: block;
        }
        .mob-filter-bx{
            display: none;
        }
    }
}
}

@media screen and (max-width: $mobile-breakpoint) {

i-calc {
    .lyt-section{
        padding: 30px 0;
        &.saving-in-one-place{
           margin-top: 10px;
        }
        &.filter-box{
            .desk-filter-bx{
                display: none;
            }
            .mob-filter-bx{
                display: block;
            }
        }
    }
}
}