i-calc {
.lyt-plan-detls{
    padding: 40px 0;
    position: relative;
    .maturity-amunt-info{
        padding: 15px;
        border-radius: 3px;
        background-color: #F0F0F0;
        margin-bottom: 20px;
        margin-top: 47px;
        h3{
            margin-top: 0;
            font-size: 18px;
            color: $clr-darkblue;
            font-weight: 800;
            margin-bottom: 12px;
        }
        p{
            margin-bottom: 0;
            &:first-child{
                font-size: 21px;
                font-weight: 800;
                color: $clr-darkblue;
            }
            &:last-child{
                font-size: 14px;
                font-weight: 400;
                color: $clr-darkblue;
                margin-bottom: 35px;
            }
        }
        .seprator{
            position: relative;
            .round{
                background-color: $clr-white;
                border-radius: 50%;
                height: 22px;
                width: 22px;
                position: absolute;
                display: block;
                padding-left: 3px;
                top: 16px;
                padding-top: 3px;
                left: 50%;
                transform: translate(-50%);
                font-size: 10px;
                color: #6F6D5E;
                font-weight: 400;
            }
            .vertical-line{
                display: block;
                width: 1px;
                background-color: #DCDCDC;
                height: 56px;
                margin: 0 auto;
            }
        }
        .bs-btn{
            min-width: 230px;
            padding: 11px 0;
            border-radius: 5px;
            i{
                margin-left: 12px;
            }
        }

    }
    .icn-title{
        display: flex;
        align-items: center;
        font-size: 18px;
        font-weight: 700;
        color: $clr-dark;
        margin-bottom: 7px;
        i{
            font-size: 40px;
            color: $clr-dark;
        }
        .p-non{
            padding: 0;
        }
    }
    .description{
        font-size: 14px;
        font-weight: 400;
        color: #6F6D5E;
        margin-bottom: 15px;
        span{
            font-weight: 900;
        }
    }
    .show-in-mob{
        display: none;
    }
}
}
@media screen and (max-width: $mobile-breakpoint) {
    i-calc .lyt-plan-detls .icn-title{
        margin-top: 47px;
    }
}
@media screen and (max-width: $sm-device-breakpoint) {
    i-calc {
        .lyt-plan-detls{
            padding: 20px 0;
            .maturity-amunt-info{
                margin-top: 0;
                h3{
                    text-align: center;
                }
                &.mob-non{
                    display: none;
                }
            }
            .icn-title{
                margin-bottom: 10px;
                margin-top: 25px;
                .shield-icn{
                    text-align: right;
                }
            }
            .description{
                padding: 0 20px;
            }
            .show-in-mob{
                display: block;
                .maturity-amunt-info{
                    margin-bottom: 0;
                    position: fixed;
                    left: 0;
                    bottom: 0;
                    text-align: center;
                    p:last-child{
                        text-align: left;
                        margin-left: 20px;
                    }
                }
            }
        }
    }
}