@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?2pnhol');
    src:  url('../fonts/icomoon.eot?2pnhol#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?2pnhol') format('truetype'),
      url('../fonts/icomoon.woff?2pnhol') format('woff'),
      url('../fonts/icomoon.svg?2pnhol#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-rupee-plant:before {
    content: "\e900";
  }
  .icon-time:before {
    content: "\e901";
  }
  .icon-umbrella:before {
    content: "\e902";
  }
  .icon-shield:before {
    content: "\e903";
  }
  .icon-sort:before {
    content: "\e904";
  }
  .icon-scale:before {
    content: "\e905";
  }
  .icon-play-circle-filled:before {
    content: "\e906";
  }
  .icon-rupee-arrow:before {
    content: "\e907";
  }
  .icon-open:before {
    content: "\e908";
  }
  .icon-mark-arrow:before {
    content: "\e909";
  }
  .icon-guarantee:before {
    content: "\e90a";
  }
  .icon-information-circle-outline:before {
    content: "\e90b";
  }
  .icon-green:before {
    content: "\e90c";
  }
  .icon-convenient:before {
    content: "\e90d";
  }
  .icon-cost-effective:before {
    content: "\e90e";
  }
  .icon-close-circle-red:before {
    content: "\e90f";
  }
  .icon-close-circle:before {
    content: "\e910";
  }
  .icon-close:before {
    content: "\e911";
  }
  .icon-check-circle-green:before {
    content: "\e912";
  }
  .icon-check-orange:before {
    content: "\e913";
  }
  .icon-check-circle:before {
    content: "\e914";
  }
  .icon-calendar-icon:before {
    content: "\e915";
  }
  .icon-call:before {
    content: "\e916";
  }
  .icon-brochure:before {
    content: "\e917";
  }
  .icon-bag:before {
    content: "\e918";
  }
  .icon-arrow-right:before {
    content: "\e919";
  }
  .icon-arrow-drop-down:before {
    content: "\e91a";
  }
  .icon-arrow-down-blue:before {
    content: "\e91b";
  }
  .icon-arrow-down:before {
    content: "\e91c";
  }
  .icon-user:before {
    content: "\e91d";
  }
  