
 <script src="https://www.iciciprulife.com/content/icici-prudential-life-insurance/ulip-plans/unit-linked-insurance-plans/signature_new/assets/js/libraries/browser-polyfill.min.js?v=1905202000"></script>
 <script src="https://www.iciciprulife.com/content/icici-prudential-life-insurance/ulip-plans/unit-linked-insurance-plans/signature_new/assets/js/libraries/flickity.pkgd.min.js?v=1905202000"></script>
 <script src="https://www.iciciprulife.com/content/icici-prudential-life-insurance/ulip-plans/unit-linked-insurance-plans/signature_new/assets/js/libraries/popper.min.js?v=1905202000"></script>
 <!-- <script src="assets/js/libraries/bootstrap.min.js?v=1905202000"></script> -->
 <script src="https://www.iciciprulife.com/content/icici-prudential-life-insurance/ulip-plans/unit-linked-insurance-plans/signature_new/assets/js/libraries/ScrollMagic.min.js?v=1905202000"></script>
<script type="text/javascript" src="assets/js/vendor.js"></script>
<script type="text/javascript" src="assets/js/custom.js"></script>